.Container-h1 {
  color: white;
  background-color: #3182ce;
  padding: 20px;
  font-size: 20px;
}

.containerglobal {
  justify-content: space-between;
  display: flex;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.link a {
  font-size: 1em;
  font-weight: 700;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link a:hover {
  color: #b0c3d4;
  transition: 0.5s;
}

.Container-h1 a:nth-child(1) {
  margin: 0em 2em 0em 0em;
}
